$primary-color: #0032e6;
$secondary-color: #9858ff;
$error-color: #7c2300;
$success-color: #66ff96;

$body-font-family: "Inter", "Segoe UI", sans-serif;

$spacer: 6px !default;

.window {
    overflow: visible;
}